<h1>D2Remodded Runewords</h1>
<div *ngIf="runes">
  <app-rune-selector [runes]="runes" (selected)="updateSelectedRunes($event)"></app-rune-selector>
  <app-multi-checkbox [values]="itemTypes" (selected)="updateSelectedTypes($event)"></app-multi-checkbox>
</div>
<hr>
<ng-container *ngIf="runewords">
  <h2>{{foundRunewords.length}} possible runewords found</h2>
  <div class="flex-rws">
    <app-runeword *ngFor="let k of foundRunewords" [name]="k.name" [data]="k" [runes]="runes"></app-runeword>
  </div>
</ng-container>
