<article class="item">
  <header><h4>{{name}} ({{data?.sockets}}<span *ngIf="data?.class_rw"> - {{data?.class_rw}}</span>)</h4>
    <strong>{{data?.item_types}}</strong>

    <div class="runes">
    <span *ngFor="let r of data?.runes">
            <app-rune [name]="r" [rune]="runes?.[r]"></app-rune>
    </span>
    </div>

  </header>
  <ng-container *ngIf="data">
    <div class="flex-list">
      <span *ngFor="let d of data.affixes.slice(2)">{{d}}</span>
    </div>
  </ng-container>
  <footer>
    <div class="flex-list">
      <span>Clvl: {{data?.clvl}}</span>
      <span>rune weight: {{data?.rune_weight}}</span>
    </div>
  </footer>
</article>
